.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .image {
    $size: 70vw;
    width: $size;
    height: $size;
    margin-top: calc($size * -0.5);
    margin-left: calc($size * -0.5);
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform-origin: center;
    rotate: 30deg;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .title {
    font-size: 3.5rem;
    font-weight: 400;
  }

  .subtitle {
    font-size: 2rem;
    font-weight: 100;
  }

  a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    transition: color 0.1s ease-in-out;
  }
  a:hover {
    color: grey;
  }
}

.push {
  height: 75vh;
}
