$text-primary-color: white;
$text-active-color: #858585;

// $primary-color: #00406c;
// $secondary-color: #006466;

// $accent-color: #4d194d;

$background-color: #121212;
$header-background-color: #1f1b24;
$footer-background-color: #1f1b24;
