  .cover-container {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    
    .cover-title {
      font-size: 3rem;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .cover-image {
      width: 100%;
      filter: brightness(0.5);
    }
  }
  
  .cover-image {
    display: block;
    max-width: 100%;
    height: auto; 
  }
