  <img
    src="assets/images/projects/{{ project.id }}/{{ project.id }}{{ currentId }}.jpg"
    [alt]="project.displayName + ' cover image'"
    class="cover-image"
  />

<button (click)="previous()" *ngIf="canGoPrevious()" class="button previous">
  <img src="assets/icons/arrow-previous.svg" alt="previous button icon" class="icon" />
</button>
<button (click)="next()" *ngIf="canGoNext()" class="button next">
  <img src="assets/icons/arrow-next.svg" alt="next button icon" class="icon" />
</button>
