  <!-- <div class="cover-container"> -->
        <img
          src="assets/images/projects/{{ project.id }}/{{ project.id }}0.jpg"
          [alt]="project.displayName + ' cover image'"
          class="cover-image"
        />
    <!-- <span class="cover-title">{{ project.displayName }}</span>
  </div>
  <img
    *ngFor="let imageId of projectImagesIds"
    src="assets/images/projects/{{ project.id }}/{{ project.id }}{{ imageId }}.jpg"
    [alt]="project.displayName + ' ' + imageId"
    class="cover-image"
  /> -->
