.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 5rem;

  .project-display {
    height: 70vh;
    cursor: pointer;
    position: relative;
  }
}
