@import 'scss/variables';

.header {
  background-color: $header-background-color;
  position: sticky;
  top: 0;
  z-index: 10;
  

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 100px;

    .logo {
      height: 50px;
    }

    .right-buttons {
      display: flex;
      gap: 1.5rem;

      a {
        color: $text-primary-color;
        text-decoration: none;
        transition: color 0.1s ease-out;
      }

      a:hover {
        color: $text-active-color;
      }
    }
  }
}
