@import 'scss/variables';

.container {
  display: flex;
  margin-top: 15vh;
  height: 85vh;

  .info {
    flex: 1;
    font-size: larger;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    display: flex;

    .button {
      display: grid;
      align-items: center;
      justify-items: center;

      cursor: pointer;
      color: $text-primary-color;
      background-color: rgba($button-background-color, 0.5);
      padding: 1rem;
      border: 1px solid white;
      border-radius: 1rem;
      margin-right: 1rem;
      font-size: 1rem;
      text-decoration: none;
    }
    
    .cv {
      background-color: transparent;
    }
  }

  // .spacer {
  //   height: 2rem;
  // }

  .profile-image {
    flex: 1;
    width: 25vw;
    height: 60vh;
    margin-left: 1rem;
    object-fit: cover;
    border-radius: 2rem;
    // mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik01OCwtMjEuNEM2NS4zLDMuNSw1NC41LDMxLjgsMzMuNyw0Ni45QzEzLDYyLjEsLTE3LjUsNjQuMiwtMzYuMyw1MC40Qy01NSwzNi43LC02MS45LDcuMiwtNTMuOCwtMTguOEMtNDUuOCwtNDQuOCwtMjIuOSwtNjcuMiwxLjIsLTY3LjZDMjUuNCwtNjgsNTAuOCwtNDYuNCw1OCwtMjEuNFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
    // mask-repeat: no-repeat;
    // -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik01OCwtMjEuNEM2NS4zLDMuNSw1NC41LDMxLjgsMzMuNyw0Ni45QzEzLDYyLjEsLTE3LjUsNjQuMiwtMzYuMyw1MC40Qy01NSwzNi43LC02MS45LDcuMiwtNTMuOCwtMTguOEMtNDUuOCwtNDQuOCwtMjIuOSwtNjcuMiwxLjIsLTY3LjZDMjUuNCwtNjgsNTAuOCwtNDYuNCw1OCwtMjEuNFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
    // -webkit-mask-repeat: no-repeat;
  }

  // .skill-container {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 1rem;

  //   .skill-info {
  //     width: 5rem;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;

  //     .skill-image {
  //       width: 3rem;
  //     }

  //     .skill-text {
  //       width: 100%;
  //       text-align: center;
  //     }
  //   }
  // }

  // .contact-container {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 1rem;

  //   .contact-info {
  //     width: 5rem;

  //     .contact-image {
  //       width: 3rem;
  //     }

  //     .contact-text {
  //       width: 100%;
  //       text-align: center;
  //     }

  //     a {
  //       text-decoration: none;
  //       color: $text-primary-color;
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //     }
  //   }
  // }
}
