<div class="container">
  <div class="info">
    <p class="title center-mobile">Hello, I'm</p>
    <h1 class="title center-mobile">{{ profileInfo.name }}</h1>
    <p class="center-mobile">{{ profileInfo.description }}</p>

    <div class="buttons">
      <a class="button cv" href="assets/cv.pdf" target="_blank" download="Joaquin Villena CV.pdf">
        <img src="assets/icons/cv.svg" alt="curriculum vitae icon" />
        Download CV
      </a>
      <a class="button" href="#gallery"> See projects </a>
    </div>
  </div>
  <img src="assets/images/profile.png" alt="Profile photo" class="profile-image" />
</div>
