<div class="profile">
  <div class="info">
    <p class="font-poppins no-margin  center-mobile">Hello, I'm</p>
    <h1 class="font-poppins no-margin title  center-mobile">{{ profileInfo.name }}</h1>
    <p class="font-poppins center-mobile">{{ profileInfo.description }}</p>

    <div class="buttons">
      <a class="button cv" href="assets/cv.pdf" target="_blank" download="Joaquin Villena CV.pdf">
        <img src="assets/icons/cv.svg" alt="curriculum vitae icon" class="icon" />
        Download CV
      </a>
    </div>
  </div>
  <img src="assets/images/profile.webp" alt="Profile photo" class="profile-image" />
</div>
